.resetpassword-wrapper {
    width: 100%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;   
}

.wrapper-inside-resetpassword {
    background-color: rgba(255, 99, 71, 0);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;   
}

.resetpassword-logo {
    font-size:120px;
    color: rgb(157, 157, 157);
}

.wrapper-inside-resetpassword h3 {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.8);
}

.wrapper-inside-resetpassword p {
    font-size: 19px;
    color: rgba(97, 97, 97, 0.5);
    margin-top: 5px;
    margin-bottom: 10px;
}

.resetpasswordemailwrapper {
    width: 80%;
    margin-top: 10px;
}

.resetpasswordemail {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-size: 1.15em;
    color:gray;
}

.resetpasswordemail:focus {
    outline: none;
}

.wrapper-inside-resetpassword button {
    width: 80%;
    border-radius: 5px;
    background-color: royalblue;
    color:white;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0px solid black;
    outline: none;
}

.wrapper-inside-resetpassword button:hover {
    background-color: rgb(50, 86, 194);
}

.wrapper-inside-resetpassword button:active {
    background-color: rgb(32, 62, 154);
}

.resetpasswordback {
    list-style-type: none;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    font-size: 1.25em;
    margin-top: 15px;
    color:gray
}

.resetpassword-success-message-wrapper {
    background-color: #27ae5f55;
    border:2px solid #1b8d4b;
    width: 100%;
    border-radius: 5px;
    color:white;
    text-align: center;
}

.resetpassword-success-message-wrapper p {
    padding: 10px 10px;
    color:#1b8848;
    margin: 0;
    font-size: 1em;
}